{{template "base/head" .}}
<div class="page-content repository settings new webhook">
	{{template "repo/header" .}}
	{{template "repo/settings/navbar" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<h4 class="ui top attached header">
			{{if .PageIsSettingsHooksNew}}{{.locale.Tr "repo.settings.add_webhook"}}{{else}}{{.locale.Tr "repo.settings.update_webhook"}}{{end}}
			<div class="ui right">
				{{if eq .HookType "gitea"}}
					<img alt="{{.locale.Tr "repo.web_hook.alt_attribute" "Gitea"}}" width="26" height="26" src="{{AssetUrlPrefix}}/img/gitea.svg">
				{{else if eq .HookType "gogs"}}
					<img alt="{{.locale.Tr "repo.web_hook.alt_attribute" "Gogs"}}"  width="26" height="26" src="{{AssetUrlPrefix}}/img/gogs.ico">
				{{else if eq .HookType "slack"}}
					<img alt="{{.locale.Tr "repo.web_hook.alt_attribute" "Slack"}}"  width="26" height="26" src="{{AssetUrlPrefix}}/img/slack.png">
				{{else if eq .HookType "discord"}}
					<img alt="{{.locale.Tr "repo.web_hook.alt_attribute" "Discord"}}"  width="26" height="26" src="{{AssetUrlPrefix}}/img/discord.png">
				{{else if eq .HookType "dingtalk"}}
					<img alt="{{.locale.Tr "repo.web_hook.alt_attribute" "Dingtalk"}}"  width="26" height="26" src="{{AssetUrlPrefix}}/img/dingtalk.ico">
				{{else if eq .HookType "telegram"}}
					<img alt="{{.locale.Tr "repo.web_hook.alt_attribute" "Telegram"}}"  width="26" height="26" src="{{AssetUrlPrefix}}/img/telegram.png">
				{{else if eq .HookType "msteams"}}
					<img alt="{{.locale.Tr "repo.web_hook.alt_attribute" "Microsoft Teams"}}"  width="26" height="26" src="{{AssetUrlPrefix}}/img/msteams.png">
				{{else if eq .HookType "feishu"}}
					<img alt="{{.locale.Tr "repo.web_hook.alt_attribute" "Feishu"}}"  width="26" height="26" src="{{AssetUrlPrefix}}/img/feishu.png">
				{{else if eq .HookType "matrix"}}
					<img alt="{{.locale.Tr "repo.web_hook.alt_attribute" "Matrix"}}"  width="26" height="26" src="{{AssetUrlPrefix}}/img/matrix.svg">
				{{else if eq .HookType "wechatwork"}}
					<img alt="{{.locale.Tr "repo.web_hook.alt_attribute" "WeChat Work"}}"  width="26" height="26" src="{{AssetUrlPrefix}}/img/wechatwork.png">
				{{else if eq .HookType "packagist"}}
					<img alt="{{.locale.Tr "repo.web_hook.alt_attribute" "Packagist"}}"  width="26" height="26" src="{{AssetUrlPrefix}}/img/packagist.png">
				{{end}}
			</div>
		</h4>
		<div class="ui attached segment">
			{{template "repo/settings/webhook/gitea" .}}
			{{template "repo/settings/webhook/gogs" .}}
			{{template "repo/settings/webhook/slack" .}}
			{{template "repo/settings/webhook/discord" .}}
			{{template "repo/settings/webhook/dingtalk" .}}
			{{template "repo/settings/webhook/telegram" .}}
			{{template "repo/settings/webhook/msteams" .}}
			{{template "repo/settings/webhook/feishu" .}}
			{{template "repo/settings/webhook/matrix" .}}
			{{template "repo/settings/webhook/wechatwork" .}}
			{{template "repo/settings/webhook/packagist" .}}
		</div>

		{{template "repo/settings/webhook/history" .}}
	</div>
</div>
{{template "base/footer" .}}
